node_modules
.vscode/

_backup

/.cache
/build
/public/build
.env

.env*

START*.md

docs/
.DS_Store
.vercel
.DS_Store
app/.DS_Store

# Sentry Config File
.sentryclirc

# Sentry Config File
.env.sentry-build-plugin
